absl-py
altair
ansi2html
appnope
asttokens
astunparse
attrs
blinker
cachetools
certifi
charset-normalizer
click
click-plugins
cligj
comm
contourpy
cycler
dash
dash-core-components
dash-html-components
dash-table
debugpy
decorator
executing
fastjsonschema
fiona
Flask
flatbuffers
fonttools
gast
geopandas
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
nbformat
nest-asyncio
numpy
oauthlib
opt-einsum
packaging
pandas
parso
pexpect
Pillow
platformdirs
plotly
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
pydeck
Pygments
pyparsing
pyproj
python-dateutil
pytz
pyzmq
referencing
requests
requests-oauthlib
retrying
rich
rpds-py
rsa
shapely
six
smmap
stack-data
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
toml
toolz
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
wcwidth
Werkzeug
wrapt
zipp
